# Ignore node_modules directory
node_modules/

# Ignore any local configuration files
.env
config.js
config.env
.env

# Ignore built files
/dist

# Ignore any log files
*.log
logs/

# Ignore any temporary files
*.tmp
*.swp
*.bak

# Ignore VS Code configuration
.vscode/
.parcel-cache

todo.txt