* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-rows: 200px 1fr;
  width: 100vw;
  height: 100vh;
  font-family: 'Oxanium';
  background: url('./assets/dark-room-2.jpg');
  background-size: cover;
  background-position: center;
}

.memory {
  display: grid;
  justify-items: center;
  justify-content: center;
  max-width: 1440px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 40px 0;
  perspective: 2500px;
}

.card {
  position: relative;
  width: 200px;
  height: 280px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  -webkit-box-shadow: 0px 0px 45px 0px rgba(46, 164, 255, 0.3);
  -moz-box-shadow: 0px 0px 45px 0px rgba(46, 164, 255, 0.3);
  box-shadow: 0px 0px 45px 0px rgba(46, 164, 255, 0.3);
}

.card__image {
  transform: rotateY(180deg);
  object-fit: cover;
}

.card__image,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  user-select: none;
  border-radius: inherit;
}

.card-back {
  background: url('/assets/card.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid rgb(18, 90, 123);
  transition: filter 0.3s;
}

.card-back:hover {
  filter: brightness(150%);
}

.is-flipped {
  transform: rotateY(180deg);
}

.hidden {
  transition-property: opacity;
  transition-duration: 0.4s;
  opacity: 0;
}

.card-hidden {
  box-shadow: none;
  pointer-events: none;
}

.card__image .hidden {
  z-index: -1;
}

.ui {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.stats {
  display: flex;
  flex-direction: column;
  width: 250px;
  top: 0;
  left: 0;
}

.stats__time,
.stats__points,
.stats__level {
  color: rgb(224, 224, 224);
  font-size: 30px;
}

.btn {
  font-weight: 400;
  text-transform: lowercase;
  font-size: 30px;
  border-radius: 5px;
  border: none;
  width: 130px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgb(190, 174, 174);
}

@media all and (max-width: 1100px) {
  .card {
    width: 150px;
    height: 210px;
  }
}

@media all and (max-width: 768px) {
  body {
    grid-template-rows: 160px 1fr;
  }
  .memory {
    gap: 10px;
    padding: 10px 0;
  }
  .card {
    width: 75px;
    height: 95px;
  }

  .ui {
    padding: 10px 0;
  }
}
